* {
    height: 100%;
}
body {
    
}
.container {
    margin: 0 auto;
    padding: 15 15 15 15px;
    width: 100%;
    background-image: url(images/andy.jpg);
    height: 200%;
}

.login-page {
    width: 70px;
    height: 41px;
    justify-content: end;
    margin: auto;
    padding-top: 8%;
    padding-left:  30%;

}
.form {
    position: relative;
    text-align: center;
    border: 2px solid black;
    width: 120%;
    background-color: blue;
}

.form button {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(7, 40, 195, 0.8);
    width: 120%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form input {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    width: 400%;
    font-size: 18px;
    padding: 12px;
    margin: 0 0 15px;
    border-radius: 4px;
}



h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1.4;
    word-spacing: 15px;
    text-shadow: 3px 2px black;
    word-wrap: break-word;
    padding-left: 10%;
    padding-top: -15px;
    font-weight: 400;
}
.top-content {
    justify-content: space-between;
    word-spacing: 30%;
    height: 10px;
    padding-top: 10px;
}
nav {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    justify-content: space-evenly;
    word-spacing: 80%;
    height: 20px;
    font-size: 40px;
}
nav a {
    word-spacing: 80%;
    font-size: 60px;
    padding-top: 20%;
    color: rgb(121, 160, 95);
}
.middle-content {
    display: flex;
    border-bottom: 1px solid black;
    padding-top: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.id1 {
    border-radius: 70%;
    width: 90%;
    height: 60%;
    padding-left: 15px;
}
.id2 {
    border-radius: 70%;
    width: 90%;
    height: 60%;
    padding-left: 20px;
}
.id3 {
    border-radius: 70%;
    width: 90%;
    height: 60%;
    margin-left: 30px;
}
h2 {
    font-size: 30px;
    text-decoration-color: slategray;
    margin-left: 25%;
}